# Server
HOST_IP=192.168.68.100
APP_PORT=8080
TZ=America/New_York

# Volumes
DATA_DIR=/DATA/AppData/yt-plex
DOWNLOADS_DIR=/mnt/plex1/YouTube

# Deploy
DEPLOY_TARGET=user@192.168.68.100
DEPLOY_REMOTE_DIR=~/yt-plex
